body {
  font-family: Arial, Helvetica, sans-serif;
  color: #212529;
  text-align: left;
  margin: 0;
}
div {
  display: block;
}
.bottun {
  background-color: blue;
  font-size: 16px;
  padding: 10px 30px;
  margin-left: -5px;
  margin-right: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  color: white;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.weatherapp {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.form-control {
  margin-bottom: 20px;
  padding: 10px 30px 10px 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -5px;
}

form {
  display: block;
  margin-top: 0em;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
.temperature {
  text-align: center;
  width: 100%;
}
.col-4 {
  text-align: center;
  padding: 0px 30px;
  margin: -8px 0 10px 0;
  padding-top: 30px;
  margin-bottom: -10px;
}
.col-5 {
  padding-top: 35px;
  margin-bottom: -10px;
}

h1 {
  color: #0b0a0a;
  font-size: 24px;
  font-weight: 100px;
  margin: 0 10px;
  line-height: 18px;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 0;
  margin: 0;
}
.current {
  color: #0b0a0a;
  font-size: 20px;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 50;
  height: 19px;
  line-height: 1;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 8px;
  margin: 0 10px;
}

.float-left {
  float: left !important;
  padding-top: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -38px;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #010101;
  text-align: center;
  opacity: 0.5;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 10px;
}

.weather-icon {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 15px;
}
.weather-forecast-temperature {
  font-size: 20px;
  color: #7c7c7c;
  text-align: center;
  opacity: 0.6;
}
footer {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -15px;
  color: #7c7c7c;
}
